body {
  /*======Client Part======*/
  /*======Our Services Part======*/
  /*======Gallary Image======*/
}

body a {
  text-decoration: none;
}

body .header_area .header_top {
  border-bottom: 1px solid #f8f8f8;
}

body .header_area .header_top .container .row .col-md-12 {
  position: relative;
}

body .header_area .header_top .container .row .col-md-12 .header_top_left span {
  display: inline-block;
  padding: 12px 10px;
  cursor: pointer;
}

body .header_area .header_top .container .row .col-md-12 .header_top_left span.header_top_left_span {
  background-color: #00d968;
  display: inline-block;
  font-weight: bold;
  padding: 12px 20px;
}

body .header_area .header_top .container .row .col-md-12 .header_top_left span i.fa-phone {
  color: #fff;
  padding-right: 5px;
}

body .header_area .header_top .container .row .col-md-12 .header_top_left span i.fa-skype {
  color: #018e42;
}

body .header_area .header_top .container .row .col-md-12 .header_top_left span i.fa-commenting {
  color: #018e42;
}

body .header_area .header_top .container .row .col-md-12 .header_top_right {
  position: absolute;
  right: 0;
  top: 11px;
}

body .header_area .header_top .container .row .col-md-12 .header_top_right span.htla1 a {
  display: inline-block;
  text-decoration: none;
  color: #717171;
  font-weight: 500;
  padding-right: 10px;
}

body .header_area .header_top .container .row .col-md-12 .header_top_right span.htla2 {
  background-color: #eadc01;
  font-weight: 500;
  padding: 14px 35px;
  border-radius: 35px;
}

body .header_area .header_top .container .row .col-md-12 .header_top_right span.htla2 a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

body .header_area .header_nav {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafefd), color-stop(#d6f8e7), to(#85eeb6));
  background-image: linear-gradient(#fafefd, #d6f8e7, #85eeb6);
}

body .header_area .header_nav nav {
  padding: 20px 0px 10px;
}

body .header_area .header_nav nav .container {
  position: relative;
}

body .header_area .header_nav nav .container .nav_top_border {
  position: absolute;
  right: -13px;
  top: -11px;
  width: 81%;
  z-index: 1;
}

body .header_area .header_nav nav .container .navbar-brand {
  padding-right: 60px;
}

body .header_area .header_nav nav .container .collapse {
  z-index: 99;
}

body .header_area .header_nav nav .container .collapse ul li.nav-item {
  padding-left: 20px;
}

body .header_area .header_nav nav .container .collapse ul li a {
  display: inline-block;
  color: #263441;
}

body .header_area .header_nav nav .container .collapse ul li a.active {
  color: #008e44;
  font-weight: 600;
}

body .header_area .header_nav nav .container .collapse form {
  text-align: right;
}

body .header_area .header_nav nav .container .navbar_right {
  position: absolute;
  right: 22px;
  top: 28px;
  z-index: 99;
}

body .header_area .header_nav nav .container .navbar_right span a {
  display: inline-block;
  padding-left: 30px;
}

body .header_area .header_nav nav .container .navbar_right span a i.fa-search {
  color: #121631;
}

body .header_area .header_nav nav .container .navbar_right span a i.fa-shopping-bag {
  color: #00d969;
}

body .how_it_works {
  background: #00d968;
  padding: 65px 0px;
}

body .how_it_works .container .row .col-md-2 {
  padding: 59px 0px;
}

body .how_it_works .container .row .col-md-2 p {
  margin: 0px;
  color: #121631;
  font-weight: 700;
  padding: 10px 0px;
}

body .how_it_works .container .row .col-md-2 p a {
  display: inline-block;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  padding-left: 8px;
}

body .how_it_works .container .row .col-md-2 p span {
  color: #ffffff;
  font-weight: 400;
}

body .how_it_works .container .row .col-md-8 {
  text-align: center;
}

body .count_bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 41, 66, 0.9)), to(rgba(39, 41, 66, 0.9))), url("../img/person_4.jpg");
  background: linear-gradient(rgba(39, 41, 66, 0.9), rgba(39, 41, 66, 0.9)), url("../img/person_4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

body .count_bg .counte_part .single_count h2 {
  color: #01D867;
}

body .count_bg .counte_part .single_count p {
  color: #fff;
  border: 3px solid #00D968;
  padding: 15px 30px;
  border-radius: 30px;
  margin-bottom: 0px;
}

body .payment_area {
  text-align: center;
  background: #fcfcfc;
  padding-top: 65px;
}

body .payment_area .container .row .col-md-12 h3 {
  color: #03d969;
  font-size: 26px;
  margin-bottom: 30px;
}

body .payment_area .container .row .col-md-12 .payment_logo {
  display: inline-block;
  border: 5px solid #01ff79;
  padding: 10px 40px;
  border-radius: 45px;
  background: #fff;
  margin-bottom: 95px;
}

body .payment_area .payment_area_botton {
  z-index: 1;
  text-align: center;
}

body .payment_area .payment_area_botton a {
  display: inline-block;
  text-decoration: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #00d968;
  margin-bottom: -42px;
}

body .payment_area .payment_area_botton a i {
  font-size: 30px;
  color: #121631;
  padding-top: 1px;
  font-weight: 300;
}

body .payment_area .payment_bottom {
  height: 100px;
  width: 100%;
  z-index: 2;
  background: #121631;
  position: relative;
}

body .footer_area {
  background: #121631;
  padding-top: 27px;
}

body .footer_area .footer_top {
  padding-bottom: 105px;
}

body .footer_area .footer_top .container .row .col-md-4 .footer_services h3 {
  font-size: 25px;
  color: #e9eaec;
  margin-bottom: 35px;
}

body .footer_area .footer_top .container .row .col-md-4 .footer_services ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

body .footer_area .footer_top .container .row .col-md-4 .footer_services ul li {
  margin-bottom: 23px;
}

body .footer_area .footer_top .container .row .col-md-4 .footer_services ul li a {
  display: inline-block;
  text-decoration: none;
  color: #676b88;
  font-size: 16px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body .footer_area .footer_top .container .row .col-md-4 .footer_services ul li a:hover {
  color: #a4a6bb;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch {
  text-align: center;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch h3 {
  font-size: 25px;
  color: #e9eaec;
  margin-bottom: 35px;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch input {
  background: transparent;
  border-bottom: 1px solid #05050d !important;
  text-align: center;
  color: #676b88;
  border: transparent;
  border-radius: 0;
  margin-bottom: 27px;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch textarea {
  background: transparent;
  border-bottom: 1px solid #05050d !important;
  text-align: center;
  color: #676b88;
  border: transparent;
  border-radius: 0;
  resize: none;
  margin-top: 30px;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch textarea::-webkit-input-placeholder {
  padding-top: 20px;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch textarea:-ms-input-placeholder {
  padding-top: 20px;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch textarea::-ms-input-placeholder {
  padding-top: 20px;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch textarea::placeholder {
  padding-top: 20px;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch button {
  display: inline-block;
  padding: 11px 50px;
  background: #00d968;
  border-radius: 30px;
  color: #121631;
  margin-bottom: 85px;
  margin-top: 23px;
  font-size: 17px;
  font-weight: 600;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch .get_in_icon a {
  display: inline-block;
  color: #ffffff;
  background: #00d966;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  margin: 0px 2px;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch .get_in_icon a:hover i {
  color: #111731;
}

body .footer_area .footer_top .container .row .col-md-4 .get_in_touch .get_in_icon a i {
  padding-top: 18px;
  font-size: 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

body .footer_area .footer_top .container .row .col-md-4 .footer_about {
  text-align: right;
}

body .footer_area .footer_top .container .row .col-md-4 .footer_about h3 {
  font-size: 25px;
  color: #e9eaec;
  margin-bottom: 35px;
}

body .footer_area .footer_top .container .row .col-md-4 .footer_about p {
  line-height: 30px;
  color: #676b88;
  font-size: 16px;
}

body .footer_area .footer_top .container .row .col-md-4 .footer_about p.footer_about_p {
  position: relative;
  padding-right: 30px;
}

body .footer_area .footer_top .container .row .col-md-4 .footer_about p.footer_about_p i {
  position: absolute;
  right: 0px;
  top: 5px;
  color: #00da69;
}

body .footer_area .footer_top .container .row .col-md-4 .footer_about a {
  margin-top: 25px;
  display: inline-block;
}

body .footer_area .footer_bottom {
  border-top: 1px solid #05060b;
  text-align: center;
}

body .footer_area .footer_bottom .container .row .col-md-12 p {
  color: #636687;
  margin: 0;
  padding: 20px 0px;
}

body .footer_area .footer_bottom .container .row .col-md-12 p a {
  color: #00d966;
  display: inline-block;
  text-decoration: none;
}

body .header_banner {
  background-color: #00d968;
  background-image: url("../img/index_header_banner.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-position-x: right;
  padding: 230px 0px;
}

body .header_banner .container .row .col-md-7 .you_and_me {
  position: relative;
  display: inline-block;
}

body .header_banner .container .row .col-md-7 .you_and_me .you_and_me_img {
  position: absolute;
  left: 34px;
  z-index: 6;
  top: -63px;
}

body .header_banner .container .row .col-md-7 .you_and_me .you_and_me_img2 {
  position: absolute;
  right: 155px;
  z-index: 6;
  bottom: -55px;
}

body .header_banner .container .row .col-md-7 .you_and_me ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

body .header_banner .container .row .col-md-7 .you_and_me ul li {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 111px;
  width: 111px;
  background: #343756;
  border-radius: 50%;
  border: 5px solid #00fe78;
  color: #00fe78;
  padding-top: 31px;
  line-height: 20px;
  margin: 0px -3px;
  z-index: 3;
}

body .header_banner .container .row .col-md-7 .you_and_me ul li span.you_top {
  position: absolute;
  top: -18px;
  left: 33px;
  height: 30px;
  width: 30px;
  background: #343756;
  border-radius: 50%;
  color: #ebdd00;
  padding-top: 3px;
}

body .header_banner .container .row .col-md-7 .you_and_me ul li span.you_bottom {
  position: absolute;
  bottom: -18px;
  left: 33px;
  height: 30px;
  width: 30px;
  background: #343756;
  border-radius: 50%;
  color: #ebdd00;
  padding-top: 3px;
}

body .header_banner .container .row .col-md-7 .you_and_me ul p {
  display: inline-block;
  position: relative;
  text-align: left;
  height: 60px;
  width: 153px;
  background: #343756;
  border-radius: 51px;
  border: 2px solid #00fe78;
  color: #00fe78;
  padding-top: 8px;
  line-height: 20px;
  margin-left: -44px;
  z-index: 1;
  padding-left: 52px;
}

body .header_banner .container .row .col-md-7 .you_and_me ul p img {
  position: absolute;
  right: 11px;
  top: 14px;
}

body .conaction_padding {
  padding: 55px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 41, 66, 0.9)), to(rgba(39, 41, 66, 0.9))), url("../img/hero-bg.jpg");
  background: linear-gradient(rgba(39, 41, 66, 0.9), rgba(39, 41, 66, 0.9)), url("../img/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .conaction_padding .conaction_part .conectino_text {
  margin-top: -10px;
}

body .conaction_padding .conaction_part .conectino_text h2 {
  color: #099E57;
  font-size: 30px;
}

body .conaction_padding .conaction_part .conectino_text p {
  color: #A4A8CA;
  margin-bottom: 0px;
}

body .conaction_padding .conaction_part .conectino_text p span {
  color: #099E57;
}

body .conaction_padding .conaction_part .conaction_input input {
  padding: 5px 10px 15px 10px;
  background-color: #151934;
  color: #4D5279;
  border: none;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #11142B;
}

body .conaction_padding .conaction_part .conaction_input input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

body .conaction_padding .conaction_part .conaction_btn {
  margin-top: 10px;
}

body .conaction_padding .conaction_part .conaction_btn a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #112B36;
  padding: 12px 30px;
  background-color: #00D968;
  border-radius: 20px;
  text-decoration: none;
}

body .client_part_bg .client_sayes .main_dash {
  position: relative;
  margin-top: 40px;
}

body .client_part_bg .client_sayes .main_dash .dash {
  width: 15px;
  height: 2px;
  display: inline-block;
  background-color: #2E2F48;
}

body .client_part_bg .client_sayes .main_dash .strate {
  width: 2px;
  height: 15px;
  display: inline-block;
  margin: 0px 5px;
  background-color: #22DE7C;
}

body .client_part_bg .client_sayes .single_client_sayes .sclien_sayes_content .client_img {
  width: 55px;
  height: 285px;
  border: 2px solid #00D968;
  border-radius: 30px;
  position: relative;
}

body .client_part_bg .client_sayes .single_client_sayes .sclien_sayes_content .client_img .bg_client {
  width: auto;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 41, 66, 0.9)), to(rgba(39, 41, 66, 0.9))), url("../img/person_1.jpg");
  background: linear-gradient(rgba(39, 41, 66, 0.9), rgba(39, 41, 66, 0.9)), url("../img/person_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px 30px 0px 0px;
}

body .client_part_bg .client_sayes .single_client_sayes .sclien_sayes_content .client_img .bg_client2 {
  width: auto;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 41, 66, 0.9)), to(rgba(39, 41, 66, 0.9))), url("../img/person_4.jpg");
  background: linear-gradient(rgba(39, 41, 66, 0.9), rgba(39, 41, 66, 0.9)), url("../img/person_4.jpg");
  border-radius: 0px 0px 30px 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body .client_part_bg .client_sayes .single_client_sayes .sclien_sayes_content .client_img .position_slient {
  position: absolute;
  top: 90px;
  left: -25px;
  width: 100px;
  height: 100px;
  border: 5px solid #00D968;
  border-radius: 50%;
}

body .client_part_bg .client_sayes .single_client_sayes .sclien_sayes_content .client_img .position_slient img {
  border-radius: 50%;
}

body .client_part_bg .client_sayes .single_client_sayes .sclien_sayes_content .text_client {
  margin-right: 50px;
  margin-top: 20px;
}

body .client_part_bg .client_sayes .single_client_sayes .sclien_sayes_content .text_client .fas {
  font-size: 20px;
  color: #00D968;
  position: absolute;
  left: 20px;
  top: 13px;
}

body .client_part_bg .client_sayes .single_client_sayes .sclien_sayes_content .text_client p {
  line-height: 22px;
  color: #7B7B7B;
  position: relative;
}

body .client_part_bg .client_sayes .single_client_sayes .sclien_sayes_content .text_client h2 {
  font-size: 18px;
  color: #272B44;
  margin-top: 20px;
  font-weight: 600;
}

body .client_part_bg .client_sayes .single_client_sayes .sclien_sayes_content .text_client a {
  color: #2EDF80;
}

body .client_part_bg .client_sayes .single_seayes_right .box_customer_sayes .bg_box {
  height: 225px;
  width: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 41, 66, 0.9)), to(rgba(39, 41, 66, 0.9))), url("../img/person_4.jpg");
  background: linear-gradient(rgba(39, 41, 66, 0.9), rgba(39, 41, 66, 0.9)), url("../img/person_4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: 5px solid #00D968;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 3px #ddd;
          box-shadow: 0px 0px 10px 3px #ddd;
}

body .client_part_bg .client_sayes .single_seayes_right .box_customer_sayes .bg_box .text_part {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

body .client_part_bg .client_sayes .single_seayes_right .box_customer_sayes .bg_box .text_part h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

body .client_part_bg .client_sayes .single_seayes_right .box_customer_sayes .bg_box .text_part .date_part a {
  color: #CFC40C;
  font-size: 14px;
}

body .client_part_bg .client_sayes .single_seayes_right .box_customer_sayes .bg_box .text_part .date_part .color {
  color: #00D968;
}

body .client_part_bg .client_sayes .single_seayes_right .box_customer_sayes .bg_box .img_part1 {
  position: absolute;
  left: -5px;
  top: -5px;
  background-color: #fff;
  width: 150px;
  height: 65px;
  background: url("../img/person_4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 30px 30px 0px;
}

body .client_part_bg .client_sayes .single_seayes_right .box_customer_sayes .bg_box .img_part2 {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 150px;
  height: 65px;
  background: url("../img/person_4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px 20px 0px 30px;
}

body .our_services {
  padding: 130px 0px 120px;
}

body .our_services .header_text {
  margin-bottom: 60px;
}

body .our_services .header_text h2 {
  font-size: 23px;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: #191B36;
}

body .our_services .header_text h2 span {
  color: #1FDC77;
}

body .our_services .header_text p {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
}

body .our_services .circle_sectio {
  margin-top: 40px;
}

body .our_services .circle_sectio .circle a {
  color: #2E3148;
}

body .our_services .circle_sectio .circle .circle_border {
  border-radius: 50%;
  margin: auto;
  width: 390px;
  height: 390px;
  padding: 9px 9px;
  border: 2px dotted #ddd;
  position: relative;
}

body .our_services .circle_sectio .circle .circle_border .circle_bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 208, 104, 0.9)), to(rgba(13, 208, 104, 0.9))), url("../img/hero-bg.jpg");
  background: linear-gradient(rgba(13, 208, 104, 0.9), rgba(13, 208, 104, 0.9)), url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 370px;
  height: 370px;
  padding: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border: 5px solid #ddd;
}

body .our_services .circle_sectio .circle .circle_border .circle_bg a {
  font-size: 20px;
  font-weight: 700;
  padding: 12px 30px;
  background: #00D968;
  color: #103239;
  display: inline-block;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 2px 2px #0BCC63;
          box-shadow: 0px 0px 2px 2px #0BCC63;
}

body .our_services .circle_sectio .circle_text_1 {
  position: absolute;
  top: -37px;
  left: 50%;
  margin-left: -50px;
}

body .our_services .circle_sectio .circle_text_1 a {
  color: #22DD7B;
}

body .our_services .circle_sectio .circle_text_1::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #E9DB03;
  color: #fff;
  bottom: -17px;
  left: 40px;
  padding: 3px;
  border: 3px solid #B1F2C5;
}

body .our_services .circle_sectio .circle_text_2 {
  position: absolute;
  top: 72px;
  left: -14%;
  margin-left: -30px;
}

body .our_services .circle_sectio .circle_text_2 a {
  text-decoration: none;
  color: #EEE43F;
}

body .our_services .circle_sectio .circle_text_2::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #E9DB03;
  color: #fff;
  right: -25px;
  bottom: 6px;
  padding: 3px;
  border: 3px solid #B1F2C5;
}

body .our_services .circle_sectio .circle_text_3 {
  position: absolute;
  top: 72px;
  right: -20%;
  margin-left: -30px;
}

body .our_services .circle_sectio .circle_text_4 {
  position: absolute;
  top: 200px;
  left: -28%;
  margin-left: -30px;
}

body .our_services .circle_sectio .circle_text_5 {
  position: absolute;
  top: 200px;
  right: -25%;
  margin-left: -30px;
}

body .our_services .circle_sectio .circle_text_6 {
  position: absolute;
  bottom: 60px;
  left: -10%;
  margin-left: -30px;
}

body .our_services .circle_sectio .circle_text_7 {
  position: absolute;
  bottom: 60px;
  right: -20%;
  margin-left: -30px;
}

body .our_services .circle_sectio .circle_text_8 {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -46px;
}

body .image_top .trxt_textmonial {
  margin-bottom: 65px;
}

body .image_top .trxt_textmonial h2 {
  font-size: 23px;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: #191B36;
}

body .image_top .trxt_textmonial h2 span {
  color: #00D968;
}

body .image_top .trxt_textmonial p {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
}

body .image_top .single_image_top {
  background-color: #121631;
  position: absolute;
  left: 0;
  top: 0;
}

body .image_top .single_img {
  height: 470px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  z-index: 2222222;
  position: relative;
}

body .image_top .single_img .gallary_full .width_full {
  height: 470px;
  width: 30%;
  float: left;
  cursor: pointer;
}

body .image_top .single_img .gallary_full .width_full img {
  width: 100%;
}

body .image_top .single_img .gallary_full .hover_part {
  position: relative;
}

body .image_top .single_img .gallary_full .hover_part:hover i.fa {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 41, 66, 0.9)), to(rgba(39, 41, 66, 0.9)));
  background: linear-gradient(rgba(39, 41, 66, 0.9), rgba(39, 41, 66, 0.9));
  height: 100%;
  width: 100%;
}

body .image_top .single_img .gallary_full .hover_part i.fa {
  display: none;
}

body .image_top .single_img .short_img {
  width: 100%;
}

body .image_top .single_img .short_img .width_haf {
  width: 40%;
  height: 233px;
  float: left;
  cursor: pointer;
}

body .image_top .single_img .short_img .width_haf img {
  width: 100%;
}

body .image_top .single_img .short_img .small_img1 {
  width: 30%;
  height: 233px;
  float: left;
  cursor: pointer;
}

body .image_top .single_img .short_img .small_img1 img {
  width: 100%;
}

body .image_top .single_img .short_img .small_img2 {
  width: 20%;
  height: 238px;
  float: left;
  cursor: pointer;
}

body .image_top .single_img .short_img .small_img2 img {
  width: 100%;
}

body .image_top .single_img .short_img .small_img3 {
  width: 20%;
  height: 238px;
  float: left;
  cursor: pointer;
}

body .image_top .single_img .short_img .small_img3 img {
  width: 100%;
}

body .image_top .single_img .short_img .small_img4 {
  width: 30%;
  height: 238px;
  float: left;
  cursor: pointer;
}

body .image_top .single_img .short_img .small_img4 img {
  width: 100%;
}

body .image_top .single_img .short_img .hover_part {
  position: relative;
}

body .image_top .single_img .short_img .hover_part:hover i.fa {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 41, 66, 0.9)), to(rgba(39, 41, 66, 0.9)));
  background: linear-gradient(rgba(39, 41, 66, 0.9), rgba(39, 41, 66, 0.9));
  height: 100%;
  width: 100%;
}

body .image_top .single_img .short_img .hover_part i.fa {
  display: none;
}

body .image_top .gallary_btn {
  margin-top: 50px;
}

body .image_top .gallary_btn a {
  padding: 15px 30px;
  background-color: #121631;
  color: #02C360;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

body .image_top .gallary_btn a:hover {
  text-decoration: none;
}

body .clipping_process {
  background: #fcfcfc;
  padding: 130px 0px 125px;
}

body .clipping_process .container .row .col-md-12 .clipping_process_top h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #141531;
  margin-bottom: 60px;
}

body .clipping_process .container .row .col-md-4 {
  position: relative;
}

body .clipping_process .container .row .col-md-4 h3 {
  font-size: 20px;
  margin-bottom: 14px;
  margin-top: 40px;
}

body .clipping_process .container .row .col-md-4 .clipping_process_before img {
  position: absolute;
  top: 69px;
  left: -272px;
  width: 91%;
}

body .clipping_process .container .row .col-md-4 .clipping_process_after img {
  position: absolute;
  top: 0px;
  left: -154px;
  width: 92%;
}

body .works_area {
  text-align: center;
  background: #fcfcfc;
}

body .works_area .container .row .col-md-12 h2 {
  font-size: 25px;
  color: #141531;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

body .works_area .container .row .col-md-12 h2 span {
  color: #00da64;
}

body .works_area .container .row .col-md-12 h2 i {
  position: absolute;
  left: 0;
  top: 0;
}

body .works_area .container .row .col-md-12 p {
  color: #8f8f8f;
  margin-bottom: 120px;
}

body .works_area .container .row .col-md-12 .you_and_me {
  position: relative;
  display: inline-block;
}

body .works_area .container .row .col-md-12 .you_and_me .you_and_me_img {
  position: absolute;
  left: 36px;
  z-index: 6;
  top: -54px;
}

body .works_area .container .row .col-md-12 .you_and_me .you_and_me_img2 {
  position: absolute;
  right: 156px;
  z-index: 6;
  bottom: 41px;
}

body .works_area .container .row .col-md-12 .you_and_me ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

body .works_area .container .row .col-md-12 .you_and_me ul li {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 111px;
  width: 111px;
  background: #343756;
  border-radius: 50%;
  border: 5px solid #00fe78;
  color: #00fe78;
  padding-top: 31px;
  line-height: 20px;
  margin: 0px -3px;
  z-index: 3;
}

body .works_area .container .row .col-md-12 .you_and_me ul li span.you_top {
  position: absolute;
  top: -18px;
  left: 33px;
  height: 30px;
  width: 30px;
  background: #343756;
  border-radius: 50%;
  color: #ebdd00;
  padding-top: 3px;
}

body .works_area .container .row .col-md-12 .you_and_me ul li span.you_bottom {
  position: absolute;
  bottom: -18px;
  left: 33px;
  height: 30px;
  width: 30px;
  background: #343756;
  border-radius: 50%;
  color: #ebdd00;
  padding-top: 3px;
}

body .works_area .container .row .col-md-12 .you_and_me ul p {
  display: inline-block;
  position: relative;
  text-align: left;
  height: 60px;
  width: 153px;
  background: #343756;
  border-radius: 51px;
  border: 2px solid #00fe78;
  color: #00fe78;
  padding-top: 8px;
  line-height: 20px;
  margin-left: -44px;
  z-index: 1;
  padding-left: 52px;
}

body .works_area .container .row .col-md-12 .you_and_me ul p img {
  position: absolute;
  right: 11px;
  top: 14px;
}

body .photo_cut_out {
  padding-top: 130px;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_lert ul {
  margin: 0px;
  padding: 65px 0px;
  list-style: none;
  background: #121631;
  border-radius: 20px;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_lert ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: #7e81ac;
  -webkit-transition: all .5s;
  transition: all .5s;
  background: #0c0d21;
  padding: 12px 0px;
  font-weight: 600;
  border-bottom: 1px solid #1d244e;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_lert ul li.active {
  position: relative;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_lert ul li.active a {
  color: #03d967;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_lert ul li.active::after {
  content: ">";
  color: #dfd301;
  position: absolute;
  right: -15px;
  top: 10px;
  height: 35px;
  width: 35px;
  background: #0c0d1f;
  text-align: center;
  border-radius: 50%;
  padding-top: 4px;
  font-weight: 700;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent {
  border: 3px solid #121631;
  border-radius: 25px;
  text-align: center;
  margin-top: 65px;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent .photo_cut_out_excellent_content {
  background: #121631;
  border-radius: 20px;
  padding: 30px 5px 22px;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent .photo_cut_out_excellent_content h3 {
  color: #ffffff;
  margin-bottom: 20px;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent .photo_cut_out_excellent_content .photo_cut_out_excellent_icon i {
  color: #ebdb01;
  height: 25px;
  width: 25px;
  background: #feffff;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
  font-size: 13px;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent .photo_cut_out_excellent_content p {
  color: #6b6d7c;
  font-size: 12px;
  line-height: 20px;
  margin: 20px 0px;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent .photo_cut_out_excellent_content p span {
  color: #a8a9ab;
  font-weight: bold;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent h4 {
  color: #fffffd;
  font-size: 20px;
  font-weight: 400;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent h4 img {
  padding-right: 5px;
  margin-top: -5px;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent h4 span {
  color: #9597a4;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent .photo_cut_out_excellent_h5 {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 500px;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent .photo_cut_out_excellent_h5 h5 {
  color: #919191;
  padding: 250px 0px;
}

body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent .photo_cut_out_excellent_h5::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_top h1 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_top p {
  margin-bottom: 40px;
  line-height: 30px;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_top img {
  width: 100%;
  margin-bottom: 40px;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid h1 {
  color: #00da66;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-4 {
  padding-bottom: 15px;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-4 h5 {
  font-size: 16px;
  font-weight: 600;
  color: #141533;
  background: #00d968;
  border-radius: 30px;
  text-align: center;
  padding: 15px 0px;
  cursor: pointer;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-4 h5.photo_cut_out_right_mid_h5 {
  background: #121631;
  color: #ffffff;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-4 img {
  padding-bottom: 15px;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-4 p {
  text-align: center;
  padding-top: 85px;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-4 img {
  width: 100%;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-12 {
  text-align: center;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-12 a {
  display: inline-block;
  background: #121631;
  color: #02d064;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  padding: 13px 55px;
  margin: 30px 0px 65px;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_bottom h2 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}

body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_bottom p {
  margin-bottom: 40px;
  line-height: 30px;
}

body .amazon_deals_sales {
  padding: 130px 0px 70px;
  background: #fcfcfc;
}

body .amazon_deals_sales .container .row .col-md-6 {
  margin-bottom: 30px;
}

body .amazon_deals_sales .container .row .col-md-6 .amazon_left_bg {
  background-image: url("../img/page8_contant.png");
  background-size: cover;
  border-radius: 35px;
}

body .amazon_deals_sales .container .row .col-md-6 .amazon_left_bg .col_md_amazon {
  background: #26283d;
  opacity: .9;
  width: 100%;
  height: 250px;
  padding: 20px;
  border: 5px solid #01ff79;
  border-radius: 35px;
  position: relative;
}

body .amazon_deals_sales .container .row .col-md-6 .amazon_left_bg .col_md_amazon .amazon_deals_sales_content {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

body .amazon_deals_sales .container .row .col-md-6 .amazon_left_bg .col_md_amazon .amazon_deals_sales_content h2 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 15px;
}

body .amazon_deals_sales .container .row .col-md-6 .amazon_left_bg .col_md_amazon .amazon_deals_sales_content p {
  color: #b0b2cb;
}

body .amazon_deals_sales .container .row .col-md-6 .amazon_left_bg .col_md_amazon .amazon_deals_sales_content h6 {
  color: #eadc01;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0px;
}

body .amazon_deals_sales .container .row .col-md-6 .amazon_left_bg .col_md_amazon .amazon_deals_sales_content h6 span {
  color: #1e9055;
}

body .amazon_deals_sales .container .row .col-md-12 .col_md_amazon_bottom {
  margin-top: 60px;
  text-align: center;
}

body .amazon_deals_sales .container .row .col-md-12 .col_md_amazon_bottom a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #cecece;
  border-radius: 15px;
  border: 1px solid #cecece;
  padding: 4px 15px;
  margin: 0px 2px;
}

body .amazon_deals_sales .container .row .col-md-12 .col_md_amazon_bottom a.col_md_amazon_bottom_a1 {
  color: #0edc70;
  border: 1px solid #0edc70;
}

body .amazon_deals_sales .container .row .col-md-12 .col_md_amazon_bottom a.col_md_amazon_bottom_a2 {
  color: #fff;
  border: 1px solid #0edc70;
  background: #0edc70;
}

body .single_blog_area {
  background: #fcfcfc;
  padding: 130px 0px 0px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .amazon_left_bg {
  background-image: url("../img/page8_contant.png");
  background-size: cover;
  border-radius: 35px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .amazon_left_bg .col_md_amazon {
  background: #26283d;
  opacity: .9;
  width: 100%;
  height: 300px;
  padding: 20px;
  border: 5px solid #01ff79;
  border-radius: 35px;
  position: relative;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .amazon_left_bg .col_md_amazon .amazon_deals_sales_content {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .amazon_left_bg .col_md_amazon .amazon_deals_sales_content h2 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 15px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .amazon_left_bg .col_md_amazon .amazon_deals_sales_content p {
  color: #b0b2cb;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .amazon_left_bg .col_md_amazon .amazon_deals_sales_content h6 {
  color: #eadc01;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .amazon_left_bg .col_md_amazon .amazon_deals_sales_content h6 span {
  color: #1e9055;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content h2 {
  font-size: 26px;
  padding: 35px 0px 20px;
  margin: 0px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content p {
  color: #444444;
  margin-bottom: 20px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content h3 {
  color: #141531;
  font-size: 22px;
  padding-top: 15px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_content_img {
  margin-top: 22px;
  border-top: 1px solid gray;
  margin-bottom: 30px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_content_img .row .col-md-2 a {
  display: block;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_content_img .row .col-md-2 a img {
  width: 100%;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content h4 {
  color: #858585;
  font-style: italic;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content h4 span {
  color: #00d966;
  position: relative;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content h4 span::after {
  content: "";
  position: absolute;
  right: -50px;
  top: 14px;
  height: 2px;
  background: #eadc00;
  width: 30px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_content_img2 {
  margin-bottom: 20px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage {
  padding: 40px 0px 0px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .row .col-md-6 {
  margin-bottom: 60px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .row .col-md-6 p {
  color: #141533;
  font-weight: 600;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .row .col-md-6 p span.single_blog_left_span {
  color: #12162f;
  font-size: 18px;
  display: inline-block;
  border: 1px solid #d0d0d0;
  border-radius: 20px;
  padding: 7px 22px;
  -webkit-box-shadow: 0px 0px 5px #d0d0d0;
          box-shadow: 0px 0px 5px #d0d0d0;
  margin-right: 10px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .row .col-md-6 p span.single_blog_left_icon a {
  display: inline-block;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .row .col-md-6 p span.single_blog_left_icon a i {
  color: #01da69;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding-right: 10px;
  font-size: 15px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .row .col-md-6 p span.single_blog_left_icon a i:hover {
  color: #121631;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage h1 {
  font-size: 20px;
  color: #00d966;
  margin: 60px 0px 40px;
  font-weight: 400;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage h1 span {
  padding-left: 40px;
  color: #111731;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment {
  position: relative;
  padding-left: 95px;
  margin-bottom: 60px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment input {
  width: 100%;
  border: none;
  background: #fcfcfc;
  border-bottom: 1px solid #484848;
  font-weight: 400;
  padding: 10px 0px;
  height: 60px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment input::-webkit-input-placeholder {
  color: #474747;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment input:-ms-input-placeholder {
  color: #474747;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment input::-ms-input-placeholder {
  color: #474747;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment input::placeholder {
  color: #474747;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment img {
  position: absolute;
  left: 0;
  top: 0;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment h6 {
  color: #c8c8c8;
  margin-bottom: 15px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment h6 span {
  color: #484848;
  margin-left: 10px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment p {
  color: #787878;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment h5 {
  font-size: 16px;
  font-weight: 400;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment h4 {
  color: #484848;
  font-style: normal;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment h4 i {
  padding-left: 5px;
}

body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment .single_blog_left_massage_comment2 {
  padding-left: 95px;
  position: relative;
}

body .single_blog_area .container .row .col-md-3 h3 {
  font-size: 25px;
  color: #222222;
  border-bottom: 1px solid #eadc01;
  padding-bottom: 15px;
  margin-bottom: 30px;
  font-weight: 400;
}

body .single_blog_area .container .row .col-md-3 .latest_post_page9 h5 {
  margin-bottom: 15px;
}

body .single_blog_area .container .row .col-md-3 .latest_post_page9 h6 {
  color: #01d768;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 400;
}

body .single_blog_area .container .row .col-md-3 .latest_post_page9 p {
  color: #858585;
  margin-bottom: 25px;
}

body .single_blog_area .container .row .col-md-3 p {
  color: #00d968;
}

body .single_blog_area .container .row .col-md-3 p span {
  color: #858585;
}

body .single_blog_area .container .row .col-md-3 ul {
  list-style: none;
}

body .single_blog_area .container .row .col-md-3 ul li {
  display: block;
  border-bottom: 1px solid #fff997;
  color: #858585;
  line-height: 45px;
  margin-bottom: 10px;
}

body .single_blog_area .container .row .col-md-3 ul li i {
  color: #00d865;
  padding-right: 5px;
}

body .header_area_p10 .header_area_p10_top {
  padding: 20px 0px;
  text-align: center;
  border-bottom: 1px solid #f4f4f4;
}

body .header_area_p10 .header_area_p10_bottom {
  padding: 70px 0px;
  text-align: center;
}

body .header_area_p10 .header_area_p10_bottom .container .row .col-md-12 .page_10_content h1 {
  display: inline-block;
  position: relative;
  font-size: 150px;
  color: #101532;
  font-weight: bold;
  letter-spacing: 80px;
  margin: 0px;
}

body .header_area_p10 .header_area_p10_bottom .container .row .col-md-12 .page_10_content h1 img {
  position: absolute;
  top: 15px;
  left: 82px;
  height: 104px;
}

body .header_area_p10 .header_area_p10_bottom .container .row .col-md-12 .page_10_content p {
  color: #5ae49a;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

body .header_area_p10 .header_area_p10_bottom .container .row .col-md-12 .page_10_content h2 {
  color: #1f213b;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 15px;
}

body .header_area_p10 .header_area_p10_bottom .container .row .col-md-12 .page_10_content a {
  display: inline-block;
  text-decoration: none;
  background: #00d968;
  color: #0e413b;
  border-radius: 20px;
  padding: 8px 31px;
  font-weight: bold;
}

body .footer_area_ .footer_bottom {
  border-top: 1px solid #eeeeee;
  text-align: center;
}

body .footer_area_ .footer_bottom .container .row .col-md-12 p {
  color: #636687;
  margin: 0;
  padding: 20px 0px;
}

body .footer_area_ .footer_bottom .container .row .col-md-12 p span {
  color: #00d966;
}

@media (max-width: 1400px) {
  body .header_area .header_nav nav .container .nav_top_border {
    top: -5px;
    width: 78%;
  }
  body .clipping_process .container .row .col-md-4 .clipping_process_after img {
    top: 12px;
    left: -122px;
    width: 88%;
  }
  body .clipping_process .container .row .col-md-4 .clipping_process_before img {
    left: -210px;
    width: 80%;
  }
  body .footer_area .footer_top .container .row .col-md-4 .get_in_touch .get_in_icon a {
    margin-bottom: 10px;
  }
  body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-4 p {
    text-align: center;
    padding-top: 48px;
  }
}

@media (max-width: 1200px) {
  body .header_area .header_nav nav .container .nav_top_border {
    top: 1px;
    width: 72%;
    right: -2px;
  }
  body .clipping_process .container .row .col-md-4 .clipping_process_after img {
    top: 24px;
    left: -89px;
    width: 75%;
  }
  body .clipping_process .container .row .col-md-4 .clipping_process_before img {
    left: -149px;
    width: 68%;
  }
  body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-4 p {
    padding-top: 1px;
  }
}

@media (max-width: 991px) {
  body .header_area .header_nav nav .container .nav_top_border {
    display: none;
  }
  body .header_area .header_nav nav .container .navbar_right {
    position: absolute;
    right: 102px;
    top: 26px;
  }
  body .header_area .header_nav nav .container .collapse ul li.nav-item {
    padding-left: 0px;
  }
  body .header_area .header_nav nav {
    padding: 10px 0px 10px;
  }
  body .clipping_process .container .row .col-md-4 .clipping_process_after img {
    display: none;
  }
  body .clipping_process .container .row .col-md-4 .clipping_process_before img {
    display: none;
  }
  body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .row .col-md-6 p span.single_blog_left_icon a i {
    padding-right: 7px;
  }
  body .single_blog_area {
    padding: 70px 0px 0px;
  }
}

@media (max-width: 767px) {
  body .header_area .header_top .container .row .col-md-12 .header_top_right span.htla2 {
    padding: 17px 35px;
  }
  body .header_area .header_top .container .row .col-md-12 .header_top_left span {
    font-size: 14px;
  }
  body .header_area .header_top .container .row .col-md-12 .header_top_right span {
    font-size: 14px;
  }
  body .header_area .header_top .container .row .col-md-12 .header_top_right {
    top: 5px;
  }
  body .header_area .header_top .container .row .col-md-6 .header_top_left {
    text-align: center !important;
  }
  body .how_it_works {
    padding: 0px 0px;
    text-align: center;
  }
  body .clipping_process .container .row .col-md-4 {
    position: relative;
    text-align: center !important;
  }
  body .clipping_process {
    padding: 73px 0px;
  }
  body .clipping_process .container .row .col-md-4 h3 {
    margin-top: 10px;
  }
  body .clipping_process .container .row .col-md-4 p {
    margin-bottom: 30px;
  }
  body .works_area .container .row .col-md-12 .you_and_me ul li {
    height: 100px;
    width: 100px;
  }
  body .works_area .container .row .col-md-12 .you_and_me .you_and_me_img2 {
    right: 148px;
    bottom: 58px;
    width: 43%;
  }
  body .works_area .container .row .col-md-12 .you_and_me .you_and_me_img {
    left: 38px;
    top: -51px;
    width: 43%;
  }
  body .payment_area {
    padding-top: 0;
  }
  body .payment_area .payment_bottom {
    height: 38px;
  }
  body .footer_area .footer_top .container .row .col-md-4 .footer_services {
    text-align: center;
  }
  body .footer_area .footer_top .container .row .col-md-4 .get_in_touch h3 {
    margin-top: 20px;
  }
  body .footer_area .footer_top .container .row .col-md-4 .footer_about {
    text-align: center;
  }
  body .footer_area .footer_top .container .row .col-md-4 .footer_about p.footer_about_p i {
    position: relative;
    padding-left: 10px;
    top: 0;
  }
  body .footer_area .footer_top .container .row .col-md-4 .footer_about h3 {
    margin-top: 35px;
  }
  body .footer_area .footer_top {
    padding-bottom: 31px;
  }
  body .amazon_deals_sales {
    padding: 70px 0px 70px;
  }
  body .photo_cut_out {
    padding-top: 65px;
  }
  body .photo_cut_out .container .row .col-md-3 .photo_cut_out_excellent {
    margin-bottom: 65px;
  }
  body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-4 h5.photo_cut_out_right_mid_h5 {
    margin-bottom: 25px;
  }
  body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-4 h5 {
    margin-bottom: 25px;
  }
  body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_content_img2 img {
    width: 100%;
  }
  body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .row .col-md-6 {
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  body .header_area .header_top .container .row .col-md-12 .header_top_right .htla1 a {
    font-size: 14px;
    padding-top: 2px;
  }
  body .header_area .header_top .container .row .col-md-12 .header_top_left span.header_top_left_span {
    padding: 8px 10px;
  }
  body .header_area .header_top .container .row .col-md-12 .header_top_right {
    right: 12px;
    font-size: 12px;
  }
  body .header_area .header_top .container .row .col-md-12 .header_top_left span {
    padding: 8px 5px;
    font-size: 14px;
  }
  body .header_area .header_top .container .row .col-md-12 .header_top_right span.htla2 {
    padding: 12px 13px;
    font-size: 12px;
  }
  body .header_area .header_top .container .row .col-md-6 .header_top_left span.header_top_left_span {
    padding: 12px 15px;
    font-size: 12px;
  }
  body .header_area .header_nav nav .container .navbar_right {
    right: 100px;
  }
  body .works_area .container .row .col-md-12 .you_and_me ul li {
    height: 70px;
    width: 70px;
    font-size: 11px;
    line-height: 10px;
    padding-top: 20px;
  }
  body .works_area .container .row .col-md-12 .you_and_me ul li span.you_top {
    top: -18px;
    left: 16px;
    padding-top: 7px;
  }
  body .works_area .container .row .col-md-12 .you_and_me ul li span.you_bottom {
    left: 17px;
    padding-top: 9px;
  }
  body .works_area .container .row .col-md-12 .you_and_me ul p {
    display: none;
  }
  body .works_area .container .row .col-md-12 .you_and_me .you_and_me_img {
    left: 33px;
    top: -39px;
    width: 53%;
  }
  body .works_area .container .row .col-md-12 .you_and_me .you_and_me_img2 {
    right: 22px;
    bottom: -40px;
    width: 57%;
  }
  body .payment_area .container .row .col-md-12 h3 {
    margin-top: 80px;
  }
  body .works_area .container .row .col-md-12 p {
    margin-bottom: 76px;
  }
  body .payment_area .container .row .col-md-12 .payment_logo {
    margin-bottom: 50px;
  }
  body .clipping_process .container .row .col-md-12 .clipping_process_top h2 {
    font-size: 25px;
  }
  body .photo_cut_out .container .row .col-md-3 .photo_cut_out_lert ul li.active::after {
    right: 0;
  }
  body .single_blog_area .container .row .col-md-9 .single_blog_left .single_blog_left_content .single_blog_left_massage .single_blog_left_massage_comment .single_blog_left_massage_comment2 {
    padding-left: 80px;
    position: relative;
  }
  body .header_area_p10 .header_area_p10_bottom .container .row .col-md-12 .page_10_content h1 {
    display: inline-block;
    position: relative;
    font-size: 90px;
    color: #101532;
    font-weight: bold;
    letter-spacing: 24px;
    margin: 0px;
  }
  body .header_area_p10 .header_area_p10_bottom .container .row .col-md-12 .page_10_content h1 img {
    position: absolute;
    top: 15px;
    left: 48px;
    height: 45px;
  }
}

@media (max-width: 390px) {
  body .header_area .header_top .container .row .col-md-12 .header_top_left span {
    font-size: 10px;
  }
  body .header_area .header_top .container .row .col-md-12 .header_top_right {
    right: 11px;
  }
  body .header_area .header_top .container .row .col-md-12 .header_top_right span.htla2 {
    padding: 8px 9px;
    font-size: 10px;
  }
  body .header_area .header_top .container .row .col-md-12 .header_top_right .htla1 a {
    font-size: 11px;
    padding-top: 6px;
  }
  body .header_area .header_top .container .row .col-md-12 .header_top_right {
    right: 11px;
    top: 1px;
  }
  body .photo_cut_out .container .row .col-md-9 .photo_cut_out_right .photo_cut_out_right_mid .row .col-md-12 a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */