//Header Banner 
.header_banner{
    background-color: #00d968;
    background-image: url('/img/index_header_banner.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 230px 0px;
    .container{
        .row{
            .you_and_me {
                position: relative;
                display: inline-block;

                .you_and_me_img {
                    position: absolute;
                    left: 34px;
                    z-index: 6;
                    top: -63px
                }

                .you_and_me_img2 {
                    position: absolute;
                    right: 155px;
                    z-index: 6;
                    bottom: -55px;
                }

                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;

                    li {
                        display: inline-block;
                        position: relative;
                        text-align: center;
                        height: 111px;
                        width: 111px;
                        background: #343756;
                        border-radius: 50%;
                        border: 5px solid #00fe78;
                        color: #00fe78;
                        padding-top: 31px;
                        line-height: 20px;
                        margin: 0px -3px;
                        z-index: 3;

                        span {

                            &.you_top {
                                position: absolute;
                                top: -18px;
                                left: 33px;
                                height: 30px;
                                width: 30px;
                                background: #343756;
                                border-radius: 50%;
                                color: #ebdd00;
                                padding-top: 3px;
                            }

                            &.you_bottom {
                                position: absolute;
                                bottom: -18px;
                                left: 33px;
                                height: 30px;
                                width: 30px;
                                background: #343756;
                                border-radius: 50%;
                                color: #ebdd00;
                                padding-top: 3px;
                            }
                        }
                    }

                    p {
                        display: inline-block;
                        position: relative;
                        text-align: left;
                        height: 60px;
                        width: 153px;
                        background: #343756;
                        border-radius: 51px;
                        border: 2px solid #00fe78;
                        color: #00fe78;
                        padding-top: 8px;
                        line-height: 20px;
                        margin-left: -44px;
                        z-index: 1;
                        padding-left: 52px;

                        img {
                            position: absolute;
                            right: 11px;
                            top: 14px;
                        }
                    }
                }

            }
            
        }
    }
}

//Conaction Part 
.conaction_padding{
    padding: 55px 0px;
    background: linear-gradient(rgba(39,41,66, 0.9),rgba(39,41,66, 0.9)), url('/img/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .conaction_part{
        .conectino_text{
            margin-top: -10px;
            h2{
                color: #099E57;
                font-size: 30px;
            }
            p{
                color: #A4A8CA;
                margin-bottom: 0px;
                span{
                    color: #099E57;
                }
            }
        }
        .conaction_input{
            input{
                padding: 5px 10px 15px 10px;
                background-color: #151934;
                color: #4D5279;
                border: none;
                width: 100%;
                border-radius: 5px;
                border: 2px solid #11142B;
                &:focus{
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        .conaction_btn{
            margin-top: 10px;
            position: relative;
            a{
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 700;
                color: #112B36;
                padding: 12px 30px;
                background-color: #00D968;
                border-radius: 20px;
                text-decoration: none;
                
            }
            &.conaction_btn2{
                a{
                    position: absolute;
                    left: -44px;
                    top: -10px;
                }
            }
        }
    }
}


// Gallary Image
    


.image_top{
    .container{
        .image_gallary_img{
            img{
                width: 100%;
            }
            .sm_hover_part{
                position: relative;
                transition: all .5s;
                &:hover{
                    i{
                        position: absolute;
                        left: 0;
                        top: 0;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        font-size: 20px;
                        color: #ddd;
                        background: #00c45e;
                        opacity: .8;
                        height: 100%;
                        width: 100%;
                    }
                }
                i{
                    display: none;
                }

                &.image_gallary_img1 {
                    &:hover {
                        i {
                            border-radius: 44px 0 0 44px;
                        }
                    }
                }

                &.image_gallary_img22 {
                    &:hover {
                        i {
                            border-radius: 0 44px 0 0;
                        }
                    }
                }

                &.image_gallary_img3 {
                    &:hover {
                        i {
                            border-radius: 0 0 44px 0;
                        }
                    }
                }
            }
            .row{
                .col-sm-3{
                    padding-left: 0px;
                    padding-right: 0px;
                    &.image_gallary_img1{
                        img{
                            height: 560px;
                        }
                    }
                    &.image_gallary_img3{
                        img{
                            height: 280px;
                        }
                    }
                }
                .col-sm-6{
                    padding-left: 0px;
                    padding-right: 0px;
                    img{
                        height: 280px;
                    }
                    &.image_gallary_img31{
                        img{
                            width: 100%;
                            
                        }
                    }
                    .row{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
 /*======Client Part======*/
 .client_part_bg{
    padding: 130px 0px;
   .client_sayes{
       .main_dash{
           position: relative;
           margin-top: 40px;
           .dash{
               width: 15px;
               height: 2px;
               display: inline-block;
               background-color: #2E2F48;
           }
           .strate{
               width: 2px;
               height: 15px;
               display: inline-block;
               margin: 0px 5px;
               background-color: #22DE7C;
           }
       }
       .single_client_sayes{
           .sclien_sayes_content{
               .client_img{
                   width: 55px;
                   height: 285px;
                   border: 2px solid #00D968;
                   border-radius: 30px;
                   position: relative;
                   .bg_client{
                       width: auto;
                       height: 50%;
                       background: linear-gradient(rgba(39, 41, 66, 0.9), rgba(39, 41, 66, 0.9)), url("/img/person_1.jpg");
                       background-position: center;
                       background-size: cover;
                       background-repeat: no-repeat;
                       border-radius: 30px 30px 0px 0px;
                   }
                   .bg_client2{
                       width: auto;
                       height: 50%;
                       background: linear-gradient(rgba(39, 41, 66, 0.9), rgba(39, 41, 66, 0.9)), url("/img/person_4.jpg");
                       border-radius: 0px 0px 30px 30px;
                       background-position: center;
                       background-size: cover;
                       background-repeat: no-repeat;
                   }
                   .position_slient{
                       position: absolute;
                       top: 90px;
                       left: -25px;
                       width: 100px;
                       height: 100px;
                       border: 5px solid #00D968;
                       border-radius: 50%;
                       img{
                           border-radius: 50%;
                       }
                   }
               }
               .col-md-9{
                   .text_client{
                       margin-right: 50px;
                       margin-top: 65px;
                       p{
                           line-height: 22px;
                           color: #7B7B7B;
                           position: relative;
                           margin-top: 15px;
                           &::before{
                               content: ",,";
                               position: absolute;
                               top: -38px;
                               left: -16px;
                               font-size: 58px;
                               color: #f7efae;
                               font-weight: 700;
                           }
                       }
                       h2{
                           font-size: 18px;
                           color: #272B44;
                           margin-top: 20px;
                           font-weight: 600;
                       }
                       a{
                           color: #2EDF80;
                       }
                   }
               }
           }
           .trxt_textmonial{
               margin-bottom: 60px;
               h2{
                   span{
                       color: #02d866;
                   }
                   font-weight: 400;
               }
               p{
                   color: #8f8f8f;
                   font-weight: 400;
                   margin-bottom: 0;
               }
           }
       }
       .single_seayes_right{
           .trxt_textmonial{
               margin-bottom: 60px;
               h2{
                   span{
                       color: #02d866;
                   }
                   font-weight: 400;
               }
               p{
                   color: #8f8f8f;
                   font-weight: 400;
                   margin-bottom: 0;
               }
           }
           .box_customer_sayes{
               .bg_box{
                   height: 225px;
                   width: auto;
                   background: linear-gradient(rgba(39, 41, 66, 0.9), rgba(39, 41, 66, 0.9)), url("/img/person_4.jpg");
                   background-position: center;
                   background-size: cover;
                   background-repeat: no-repeat;
                   border-radius: 20px;
                   border: 5px solid #00D968;
                   position: relative;
                   box-shadow: 0px 0px 10px 3px #ddd;
                   .text_part{
                       position: absolute;
                       left: 20px;
                       bottom: 15px;
                       h2{
                           color: #fff;
                           font-size: 18px;
                           font-weight: 600;
                       }
                       .date_part{
                           a{
                               color: #CFC40C;
                               font-size: 14px;
                           }
                           .color{
                               color: #00D968;
                           }
                       }
                   }
                   .img_part1{
                       position: absolute;
                       left: -5px;
                       top: -5px;
                       background-color: #fff;
                       width: 150px;
                       height: 65px;
                       background: url("/img/person_4.jpg");
                       background-position: center;
                       background-size: cover;
                       background-repeat: no-repeat;
                       border-radius: 20px 30px 30px 0px;
                   }
                   .img_part2{
                       position: absolute;
                       right: -5px;
                       top: -5px;
                       width: 150px;
                       height: 65px;
                       background: url("/img/person_4.jpg");
                       background-position: center;
                       background-size: cover;
                       background-repeat: no-repeat;
                       border-radius: 30px 20px 0px 30px;
                   }
               }
               
           }
       }
   }
}
.payment_area_padding{
    padding-top: 0px !important;
}

//responsive
@media (max-width: 1400px){}
@media (max-width: 1200px){}
@media (max-width: 991px){
    .header_banner {
        background: #00d968;
        text-align: center;
        padding: 129px 0px;
    }
    .conaction_padding .conaction_part .conaction_btn a {
        padding: 12px 20px;
    }
}
@media (max-width: 767px){
    body .header_banner .container .row .you_and_me ul li{
        height: 100px;
        width: 100px;
    } 
    body .header_banner .container .row .you_and_me .you_and_me_img2 {
        right: 148px;
        bottom: -49px;
        width: 43%;
    }
    body .header_banner .container .row .you_and_me .you_and_me_img {
        left: 38px;
        top: -57px;
        width: 43%;
    }
    
    body .our_services .circle_sectio .circle .circle_border{
        width: 160px;
        height: 160px;
        padding: 3px 3px;
    }
    body .our_services .circle_sectio .circle .circle_border .circle_bg{
        width: 150px;
        height: 150px;
    }
    .text_part a{
       font-size: 12px;
       padding: 10px 20px
    }
    body .our_services .circle_sectio .circle_text_2{
        top: 15%;
        left: -39%;
    }
    body .our_services .circle_sectio .circle .circle_border .circle_bg a{
        font-size: 8px;
        padding: 8px 13px;
    }
    body .our_services .circle_sectio .circle_text_3{
        top: 11%;
        right: -50%;
    }
    body .our_services .circle_sectio .circle_text_6{
        bottom: 10%;
        left: -20%;
    }
    body .our_services .circle_sectio .circle_text_7{
        right: -52%;
        bottom: 11%;
    }
    body .our_services .circle_sectio .circle_text_4{
        top: 45%;
        left: -54%;
    }
    body .our_services .circle_sectio .circle_text_5{
        right: -53%;
        top: 45%;
    }
    body .our_services .circle_sectio .circle_text_2 a {
        padding: 10px 5px;
    }
    .conaction_padding .conaction_part .conectino_text {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .conaction_padding .conaction_part .conaction_input input{
        margin-bottom: 30px;
    }
    body .image_top {
        padding: 60px 0px;
    }
    .conaction_padding .conaction_part .conaction_btn.conaction_btn2 a {
        left: 0;
        top: 0;
        position: relative;
    }
    .single_count {
        margin-bottom: 30px;
    }
    
}

@media (max-width: 576px){
    body .header_banner .container .row .you_and_me ul li {
        height: 70px;
        width: 70px;
        font-size: 11px;
        line-height: 10px;
        padding-top: 20px;
    }
    body .header_banner .container .row .you_and_me ul li span.you_top {
        top: -18px;
        left: 16px;
        padding-top: 7px;
    }
    body .header_banner .container .row .you_and_me ul li span.you_bottom {
        left: 17px;
        padding-top: 9px;
    }
    body .header_banner .container .row .you_and_me ul p {
        display: none;
    }
    body .header_banner .container .row .you_and_me .you_and_me_img {
        left: 33px;
        top: -39px;
        width: 53%;
    }
    body .header_banner .container .row .you_and_me .you_and_me_img2 {
        right: 22px;
        bottom: -40px;
        width: 57%;
    }
    body .our_services .circle_sectio .circle_text_2 {
        top: 9%;
        left: -32%;
    }
    body .our_services .circle_sectio .circle_text_4 a {
        font-size: 8px;
    }
   
    body .our_services .circle_sectio .circle_text_4 {
        top: 36%;
        left: -42%;
    }
    .client_part_bg .client_sayes .single_client_sayes .sclien_sayes_content .client_img .position_slient{
        left: 0;
        
    }
}
@media (max-width: 390px){}